.main-div {
    color: green
}

.custom-title {
    font-size : 50px;
}

.conteiner {
    display: flex ;
    flex-direction: row;
    background-color: darkgrey;
    justify-content: center;
}

.sample-box {
    height: 50px;
    width: 50px;
}

.red {
    background-color: red ;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}